<div class="details" *ngIf="weather">
  <div class="city-name">{{weather.name}}</div>
  <div>
    <app-temperature-detail [current]="weather.main.temp" [min]="weather.main.temp_min" [max]="weather.main.temp_max"></app-temperature-detail>
  </div>
  <div class="line"></div>
  <div>
    <app-humidity-detail [humidity]="weather.main.humidity"></app-humidity-detail>
  </div>
  <div class="line"></div>
  <div>
    <app-wind-detail [speed]="weather.wind.speed"></app-wind-detail>
  </div>
</div>
