.city-name {
  padding-top: 20px;
  font-size: 120px;
}

.line {
  border: 0;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 50%;
  margin: auto;
}

.search-error {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.3);
}
