<div class="toolbar">
  <a class="btn-toolbar" routerLink="/">Search</a>
  <a class="btn-toolbar" routerLink="/contact">Contact</a>
  <a class="btn-toolbar" routerLink="/comments">Comments</a>
</div>
