<div>
  <form [formGroup]="form">
    <div>
      <input formControlName="name" class="{{!form.controls['name'].valid && formSent ? 'input-error' : 'custom-input'}}" type="text"
        placeholder="Enter your name" />
      <p *ngIf="!form.controls['name'].valid && formSent" class="form-error">Error</p>
    </div>
    <div>
      <input formControlName="email" class="{{!form.controls['email'].valid && formSent? 'input-error' : 'custom-input'}}" type="text"
        placeholder="Enter your email" />
      <p *ngIf="!form.controls['email'].valid && formSent" class="form-error">Error</p>
    </div>
    <div>
      <textarea formControlName="message" class="{{!form.controls['message'].valid && formSent ? 'input-error-textarea' : 'custom-textbox'}}"
        type="text" placeholder="Send your message"></textarea>
      <p *ngIf="!form.controls['message'].valid && formSent" class="form-error">Error</p>
    </div>
    <button class="btn-submit" type="submit" (click)="submit()">Send</button>
    <div *ngIf="this.error">Error http</div>
  </form>
</div>
