<div>
  <div *ngFor="let comment of comments">
    <div class="container">
      <p class="content">{{comment.title}}</p>
      <p class="content">{{comment.categories}}</p>
      <p class="content">{{comment.content}}</p>
    </div>
  </div>
</div>
