<div class="search-bar">
  <div>
    <fieldset>
      <form [formGroup]="form">
        <input formControlName="search" placeholder="Type a city name and press enter" #searchBar/>
        <button class="btn-searchBar" (click)="onSubmit()">Submit</button>
      </form>
    </fieldset>
  </div>
</div>
