/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
}

.main {
  background: linear-gradient(
    45deg,
    rgba(240, 255, 212, 1) 0%,
    rgba(0, 128, 128, 1) 100%
  );
  color: rgba(255, 255, 255, 0.7);
}
